/********* APP *********/

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  font-family: 'Montserrat', sans-serif;
}

/********* LOGIN *********/

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 151, 214);
  color: white;
}

.logo {
  max-width: 200px;
  margin-bottom: -30px;
}

.logo-title {
  /* text-align: center; */
}

/********* NAVBAR *********/

.navbar {
  background-color: rgb(77, 151, 214);
  /* position: fixed;
  top: 0;
  z-index: 99; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/********* DASHBOARD *********/

/********* LOG DEFECT *********/

.logDefectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floorplanImage {
  height: 70vh;
  width: auto;
}

.defectForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.defectFormButton {
  align-self: center;
}

/********* DEFECTS OUTSTANDING *********/

/********* DEFECTS COMPLETED *********/